.container-1{
    text-align: center;
}
.container-1 > p{
    font-weight: 400;
    color: #75848E;
    font-size: 16px;
}
.choose-category{
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: auto;
    flex-wrap: wrap;
    text-align: center;
    gap: 15px;
}
.btn-category{
    border-radius: 4px;
    flex: 0 0 150px;
    height: 50px;
    font-weight: 400;
    color: #3E3E3E;
    font-size: 12px;
    background-color: #FFF; 
    text-align: left;
    box-sizing: border-box;
}
.btn-category:hover, .btn-category:active, .btn-category:focus, .btn-active{
    background-color: #ED795F;
    color: #FFF;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2)
}
/* .btn-venue{
    background-image: url('/images/icon/ico-venue-black.png');
    background-repeat: no-repeat;
    background-position: left 10px center;
}
.btn-venue:hover{
    background-image: url('/images/icon/ico-venue-white.png');
}
.btn-canopy{
    background-image: url('/images/icon/ico-canopy-black.png');
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 15px;
}
.btn-invitation{
    background-image: url('/images/icon/ico-invitation-black.png');
    background-repeat: no-repeat;
    background-position: left 10px center;
    background-size: 15px;
} */

@media screen and (max-width: 480px) {
    .stepper-div {
        margin-top: 10px !important;
    }
    .choose-category {
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .btn-category {
        padding: 10px;
    }
    .form-service {
        padding: 0 10px;
    }
    /* .form-button {
        
    } */
    .btn-cancel, .btn-cancel:hover, .btn-next, .btn-next:hover {
        width: 40% !important;
    }
}