@media screen and (max-width: 480px) {
    .dashboard-container {
        display: block !important;
        width: 100% !important;
        padding: 30px 10px !important;
        height: 100% !important;
    }
    .profile-upper {
        margin-left: 0  !important;
        margin-top: 100px;
    }
    .oval-kampret { 
        left: 15px !important;
    }
    .sidebar-container {
        width: 100% !important;
        margin-top: 10px !important;
        height: 100% !important;
        margin-bottom: 20px;
    }
    .card-flex { 
        justify-content: space-between;
    }
    .card-service {
        width: 48% !important;
        margin-right: 0 !important;
    }
    .container { 
        margin-top: 10px;
    }
}