* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}
.login-layout{
    width: 100%;
    height: calc(100vh - 170px);
    position: relative;
}
.login-layout > h1{
    color: #3e3e3e;
    text-align: center;
}
.form-control{
    margin-bottom: 10px;
}
.form-layout{
    max-width: 400px;
    margin: auto;
}
.form-layout > form{
    text-align: center;
}
.btn-submit{
    padding: 10px;

}
.form-layout-login {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and ( max-width: 480px) {
    .login-layout {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .login-layout > h1 {
        font-size: 2rem;
    }
    .login-cont {
        display: block !important;

    }
    .login-cont > button {
        margin-top: 20px;
    }
    .form-layout-login {
        position: unset;
        transform: none;
    }
   
}