* {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}
.login-layout{
    width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}
.login-layout > h1{
    color: #3e3e3e;
    text-align: center;
}
.form-control{
    margin-bottom: 10px;
}
.form-layout{
    max-width: 400px;
    margin: auto;
}
.form-layout > form{
    text-align: center;
}
.btn-submit{
    padding: 10px;

}