.form-custom { 
    border-radius: 4px; 
    font-weight: 400;
    font-size: 14px;
    color: #3E3E3E;
    transition: all .3s;
    height: 50px;
    border: 2px solid #EAEAEA;
}
.form-custom:active, .form-custom:focus { 
    outline: none; 
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.14); 
    transition: all .3s;
}
textarea { 
    /* resize: none; */
    height: 500px;
}
.btn-cancel, .btn-cancel:hover{
    background-color: #9B9B9B; 
    color: #FFFFFF; 
    font-weight: 400;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    border: none;
}
.btn-next, .btn-next:hover{
    background-color: #47CBC4; 
    color: #FFFFFF; 
    font-weight: 400;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    border: none;
}
.round-delete{
    border-radius: 50%;
    height: 22px;
    width: 22px;
    font-size: 13px;
    padding: 0;
    margin-left: 20px;
}
.file-upload__input{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    opacity: 0;
    cursor: pointer;
}
.btn-daftar, .btn-daftar:hover{
    background-color: #ED795F;
    border: #ED795F;
    border-radius: 25px;
    color: #FFF;
    font-weight: bold;
    height: 50px;
    padding: 4px;
    width: 140px;
    margin: 0 20px;
}

.bg-color {
    background-color: #FFF;
}
.btn-add-div{
    text-align: right;
}
.btn-add {
    background-image: url(/images/icon/plus.png);
    background-repeat: no-repeat;
    background-position: center right 10px;
    background-size: 15px;
    background-color: #3399ff;
    border-radius: 25px;
    height: 40px;
    width: 100px;
    color: #FFF;
    font-weight: normal;
    font-size: 13px;
    margin-top: 10px; 
    text-align: left;
}
span {
    font-weight: 400;
    font-size: 13px;
}