.form-custom { 
    border-radius: 4px; 
    font-weight: 400;
    font-size: 14px;
    color: #3E3E3E;
}
textarea { 
    /* resize: none; */
    height: 500px;
}
.btn-cancel, .btn-cancel:hover{
    background-color: #9B9B9B; 
    color: #FFFFFF; 
    font-weight: 400;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    border: none;
}
.btn-next, .btn-next:hover{
    background-color: #47CBC4; 
    color: #FFFFFF; 
    font-weight: 400;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    border: none;
}
.round-delete{
    border-radius: 50%;
    height: 22px;
    width: 22px;
    font-size: 13px;
    padding: 0;
    margin-left: 20px;
}
.file-upload__input{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    font-size: 1;
    opacity: 0;
    cursor: pointer;
}
.btn-daftar, .btn-daftar:hover{
    background-color: #ED795F;
    border: #ED795F;
    border-radius: 25px;
    color: #FFF;
    font-weight: bold;
    height: 45px;
    width: 165px;
}
